*{
    background-color:#e2bab;
}
h1{
    padding-left: 10%;
    color: bisque;
    font-family: georgia;
    font-variant: small-caps;
    background-color:#ce3131;
}
p{
    padding-left: 10%;
    font-family: sans-serif
}
form{
    padding-left: 12%;
    border-color: red;
}