
*{
text-align: center;
font-family: helvetica;
}

h1{
  font-variant:small-caps;
  background-color: #196c0e;
  color:#b1ea99;
  margin:3 auto;
  margin-left:30%;
  margin-right:30%;
  border-style:double;
  border-radius: 10px;
}

#regras ul{
  text-align-last:left;
  margin:0 auto;
  margin-left: 20%;
  margin-right: 20%;
  
}

li{
  padding: 2px;
  margin-left: 2%;
  margin-right: 10%;
}

body{
  background-image:url(estadio.jpg);
  background-attachment: fixed;
  background-size: cover;
}

div.fundo{
  background: rgba( 255, 255, 255, 0.548 );
  border-style:solid;
  border-color:#196c0e;
  border-radius: 10px;
}

.container img {
    max-height:150px;
    width: auto;
    height: auto;
}

