
*{
text-align: center;
font-family: helvetica;
}

h1{
  font-variant:small-caps;
  background-color: #196c0e;
  color:#b1ea99;
  margin:3 auto;
  margin-left:30%;
  margin-right:30%;
  border-style:double;
  border-radius: 10px;
}

#regras ul{
  text-align-last:left;
  margin:0 auto;
  margin-left: 20%;
  margin-right: 20%;
  
}

li{
  padding: 2px;
  margin-left: 2%;
  margin-right: 10%;
}

body{
  background-image:url(comecajogo.jpg);
  background-attachment: fixed;
  background-size: cover;
}

div.fundo{
  background: rgba( 255, 255, 255, 0.548 );
  border-style:solid;
  border-color:#196c0e;
  border-radius: 10px;
}

input[type=button], input[type=submit], input[type=reset]{
  background-color: green;
  color:#c6ffc6;
  border-color:#026d02;
  border-style: solid;
  border-radius: 10px;
  margin: 4px 2px;
  padding: 5px 5px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color:#33b133;
}

input {
    border-style: solid;
    border-color:#026d02;
    border-radius: 5px;
    margin: 4px 2px;
}

select{
    background-color:#8ee18e;
    border-style: solid;
    border-color:#026d02;
    border-radius: 5px;
    margin: 4px 2px;
}

option{
  background-color:#c7dfc7;
}
